.cart h4{
    margin-bottom: 20px;
    text-align: center;
}
.cart p{
    margin: 15px 0px;
}
.cart button{
    margin-top: 20px;
    border-radius: 5px;
}
.cart a{
    text-decoration: none;
    border-radius: 5px;
}