.product{
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product img{
    width: 100%;
    border-radius: 5px;
}
.product h3{
    text-transform: capitalize;
    font-weight: 500;
    margin: 8px 0px;
}
.product h4{
    text-transform: capitalize;
    font-weight: 600;
    margin: 8px 0px;
}
.product p{
    font-weight: 400;
    margin: 8px 0px;
}
.product button{
    display: flex;
    justify-content: center;
    padding: 7px 15px;
    font-size: 16px;
    background-color: orange;
    color: rgb(19, 9, 43);
    border: 0px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.product button span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
}